 .breadcrumb .news:after,
 .breadcrumb .home:after
 
 {
    content: ">>";
    color: black;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    text-decoration: none;
    font-size: 0.7rem;
  }

  .news::before{
    display: none!important;
  }